
.mdl-data-table__cell--non-numeric {
    padding-bottom: 12px !important;
}

main {
    width: 100%;
}

.enquiry-history-title {
    font-size: 20px;
    color: #9F9F9F;
}


.enquiry-history-title {
    font-size: 20px;
}

.enquiry-description img{
    width: 100%;
}

.enquiry-table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    white-space: normal;
}

.answers {
    padding: 10px;
}

.answers .answer {
    display: block;
}

.enquiry-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.enquiry-description {
    margin-bottom: 5px;
    font-size: 16px;
}

.dialog-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;

}

.dialog{
    display: flex;
    flex-direction: column;
    width: calc( 80%  );
    height: 95%;
    background-color: white;
    z-index: 200;
    overflow: hidden;
    margin: auto;
}


.dialog-header {
    display: flex;
    top: 0px;
    width: 100%;
    height: 64px;
    //    background-color: #3F51B5;
    background-color: #ABABAB;
    color: white;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
}

.dialog-content {
    height: 100%;
    width: calc( 100% - 30px );
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 15px;
}

.dialog-content img {
    width: 90%;
    display: block;
}

.dialog-footer {
    height: 64px;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 15px;
}

@media screen and (max-device-width: 480px){
    .dialog{
        width: 90%;
        height: 90%;        
    }
    
    .dialog-content img {
        width: 100%;
    }


}