
.mdl-data-table__cell--non-numeric {
    padding-bottom: 12px !important;
}

main {
    width: 100%;
}

.enquiry-history-title {
    font-size: 20px;
    color: #9F9F9F;
}

.enquiry-history-title:hover {
    font-size: 20px;
    color: #A0A0A0;
}

.enquiry-table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    white-space: normal;
}

.answers {
    padding: 10px;
}

.answers .answer {
    display: block;
}

.enquiry-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.enquiry-description {
    margin-bottom: 5px;
    font-size: 16px;
}

.dialog-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;

}

.dialog{
    display: block;
    width: calc( 80%  );
    height: calc( 80% );
    background-color: white;
    z-index: 200;
    overflow: hidden;
    margin: auto;
}


.dialog-header {
    display: block;    
    top: 0px;
    width: 100%;
    height: 64px;
    background-color: #3F51B5;
    color: white;
}

.dialog-content {
    height: calc( 100% - 94px );
    width: 100%;
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 15px;
}
    