<style>
#welcome li {
    border-bottom: 1px solid rgba(169, 160, 160, 0.33);
    border-top: 1px solid rgba(169, 160, 160, 0.33);
}
</style>

<div id="welcome">
    <h1>網路有問題？</h1>
    <ul>
        <li >
            <h3 class="overlay-title" ng-click="showOverlay( 'initialGuide' )">
                <i class="material-icons">arrow_forward</i>  試試我們的疑難排解
            </h3>
            <p class="overlay-description">自己的網路自己修！</p>
        </li>
        <li >
            <h3 class="overlay-title" ng-click="nextAction('contact');">
                <i class="material-icons">arrow_forward</i>  直接聯絡網管
            </h3>
            <p class="overlay-description">請有心理準備靜待回覆～<br/>網管們不一定隨時有空！</p>
        </li>
    </ul>   
</div>
