<!DOCTYPE html>
<head>
    <meta charser="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    
</head>
<body ng-app="networkTroubleshooter"  ng-controller="troubleshooterController">
    <main class="mdl-layout__content">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--6-col
                      enquiry-table">
	    <tbody>
	        <tr ng-repeat=" ( index, enquiry ) in enquiryHistory">
		    <td class="mdl-data-table__cell--non-numeric  enquiry-title" ng-click="historyBacktrack(index)">
		        <span class="enquiry-history-title">
			    {{ enquiry.title }}
		        </span>
		    </td>
	        </tr>
	        <tr>
		    <td class="mdl-data-table__cell--non-numeric">
                        <div class="enquiry-title">
                            <span >
			        {{ currentEnquiry.title }}
		            </span>
                        </div>
		        <div class="enquiry-description" ng-bind-html="currentEnquiry.enquiry" >
                            
		        </div>
                        <div class="guides">
                            <div ng-repeat="guide in currentEnquiry.guides">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary"
                                        ng-click="showGuide( guide )">
                                    {{ guide.name }}
                                </button>
                            </div>
                        </div>
		        <div class="answers">
                            <div class="answer" ng-repeat="(index, situation) in currentEnquiry.situation ">
			        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" >
			            <input type="radio" class="mdl-radio__button" ng-model="currentEnquiry.selected"
                                           ng-value="{{ { index:index, next:situation.next} }}" name="next" />
			            <span class="mdl-radio__label" ng-bind-html="situation.answer">
                                    </span>
			        </label>
                            </div>
		        </div>
                        <div >
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                    ng-click="nextEnquiry(currentEnquiry.selected.next)">
                                Next
                            </button>
                        </div>
                        
		    </td>
	        </tr>

	    </tbody>
        </table>
    </main>

    <div class="dialog-wrapper" ng-show="guideOpen">
        <div class="dialog mdl-shadow--2dp"   >
            <div class="dialog-header" >
                {{ guide.name }}
            </div> 
            <div class="dialog-content" >
                <div ng-include="guide.url"></div>
            </div>
            <div class="dialog-footer">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        ng-click="hideGuide();">
                    Got it!
                </button>                                        
            </div>
        </div>
    </div>
    
    <!-- Google MDL -->
    <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- angular -->
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>    
    <script src="js/enquiryMap.js"></script>
    <script src="js/troubleshooterController.js"></script>
    <!-- My CSS file -->
    <link rel="stylesheet" href="css/general.css">

</body>
